<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javaer.myblog.mapper.AdminUserMapper">
    <update id="updateByPrimaryKeySelective">
        update admin_user
        <set>
            <if test="loginUserName != null">
                login_user_name = #{loginUserName,jdbcType=VARCHAR},
            </if>
            <if test="loginPassword != null">
                login_password = #{loginPassword,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="locked != null">
                locked = #{locked,jdbcType=TINYINT},
            </if>
        </set>
        where admin_user_id = #{adminUserId,jdbcType=INTEGER}
    </update>
    <select id="getUser" resultType="com.javaer.myblog.entity.AdminUser">
        select * from admin_user where login_user_name = #{userName,jdbcType=VARCHAR} AND login_password=#{password,jdbcType=VARCHAR} AND locked = 0
    </select>
    <select id="selectByPrimaryKey" resultType="com.javaer.myblog.entity.AdminUser">
        select * from admin_user where admin_user_id = #{adminUserId,jdbcType=INTEGER}
    </select>
</mapper>